@import url("../fonts/css/weather-icons.min.css");

body {
  background: #0fa;
  color: rgba(255, 255, 255, .95);
  font-family: "Open Sans", Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;

  background: -moz-linear-gradient(top, #0fa 0%, #fa0 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0fa), color-stop(75%, #fa0));
  background: -webkit-linear-gradient(top, #0fa 0%, #fa0 75%);
  background: -o-linear-gradient(top, #0fa 0%, #fa0 75%);
  background: -ms-linear-gradient(top, #0fa 0%, #fa0 75%);
  background: linear-gradient(to bottom, #0fa 0%, #fa0 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0fa", endColorstr="#fa0", GradientType=0);
}

a {
  color: #750;
  font-weight: bold;
}

a:focus, a:hover {
  color: #750;
}
h1, .h1 {
  font-size: 9em;
  font-weight: lighter;
  text-shadow: 0 0 70px rgba(255, 170, 0, 1);
}

.home h1 {
  font-size: 6em;
  margin-bottom: .5em;
}

.home h1 i {
  margin-top: 1em;
}

.forecast {
  padding-top: 20px;
}

.btn-group .btn {
  background-color: rgba(0, 0, 0, .1);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-group .btn:focus, .btn-group .btn:hover {
  background-color: rgba(0, 0, 0, .2);
}

.btn-group .btn:focus {
  outline: none;
}

.btn-group .active, .btn-group .active:focus, .btn-group .active:hover {
  background-color: rgba(0, 0, 0, .3);
}

.table {
  background-color: rgba(0, 0, 0, .1);
  margin-bottom: 20px;
}

.table td {
  border-top-color: rgba(0, 0, 0, .05) !important;
}

footer {
  font-size: 85%;
  padding: 10px 20px;
}

.color-inverted {
  color: rgba(0, 0, 0, .5);
  font-weight: bold;
  margin-top: 6px;
}

@media (min-width: 768px) {
  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
